@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}



html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Sidebar Left*/
ul,
li {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}
body {
  background-color: #f8f9fd;
}

/* End Sidebar Left*/

/* Content Right */

.card-gaming {
  width: 307px;
  height: 170px;
  background: #fdf8fc;
  border-radius: 30px;
  display: flex;
}
.card-gaming h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #8b4073;
}
.card-gaming p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #c060a1;
}
.card-gaming {
  margin-right: 73px;
}

/* End Content Right */

/* Color class */
.text {
  color: #828ea5;
}

.text-active {
  color: #c060a1;
}
